@import "tailwindcss";

@theme {
  --color-charcoal: #2C3E50;
  --color-turquoise: #0B9488;

  --font-sans: var(--font-inter);
}

/* html scroll snap rule removed */

body {
  background-color: var(--color-white);
  color: var(--color-charcoal);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #2C3E50;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0B9488;
}